<!--<app-nav-bar></app-nav-bar>
<div class="container">
  <router-outlet></router-outlet>
  <app-login></app-login>
  <app-register></app-register>
</div>-->

<router-outlet></router-outlet>

<!-- Antes de corregir errores (NO TOCAR) -->

<!--<app-nav-bar *ngIf="showNavBar"></app-nav-bar>-->

<!-- Componente público -->
<!--<ng-container *ngIf="!isEmpresaPanel && !isAdminPanel">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</ng-container>-->

 <!-- Rutas que deben usar diseño personalizado (ej: empresa-panel) -->
<!--<ng-container *ngIf="isEmpresaPanel">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="isAdminPanel">
  <router-outlet></router-outlet>
</ng-container>-->