<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="w-100" style="max-width: 600px;">
    <h5 class="mb-4 text-center mt-4">Crear Cuenta</h5>

    <div class="row">
      <!-- Nombre -->
      <div class="col-md-6">
        <div [ngClass]="(isInvalid('name') || registerForm.get('name')?.errors?.['server']) ? 'mb-1' : 'mb-3'">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre" name="name">
              <label for="name">Nombre</label>
            </div>
          </div>
        </div>
        <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('name') || registerForm.get('name')?.errors?.['server']">
          <div *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es obligatorio.</div>
          <div *ngIf="registerForm.get('name')?.errors?.['server']">{{ registerForm.get('name')?.errors?.['server'] }}</div>
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-6">
        <div [ngClass]="(isInvalid('email') || registerForm.get('email')?.errors?.['server']) ? 'mb-1' : 'mb-3'">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            <div class="form-floating flex-grow-1">
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email" name="email">
              <label for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('email') || registerForm.get('email')?.errors?.['server']">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">El formato del correo no es válido.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['server']">{{ registerForm.get('email')?.errors?.['server'] }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Contraseña -->
      <div class="col-md-6">
        <div [ngClass]="isInvalid('password') ? 'mb-1' : 'mb-3'">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                    formControlName="password" placeholder="Contraseña" name="password">
              <label for="password">Contraseña</label>
            </div>
            <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </span>
          </div>
        </div>
        <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('password')">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Debe tener al menos 8 caracteres.</div>
        </div>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="col-md-6">
        <div [ngClass]="(isInvalid('password_confirmation') || registerForm.errors?.['passwordMismatch']) ? 'mb-1' : 'mb-3'">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                    id="password_confirmation" formControlName="password_confirmation"
                    placeholder="Confirmar Contraseña" name="password_confirmation">
              <label for="password_confirmation">Confirmar Contraseña</label>
            </div>
            <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()" style="cursor: pointer;">
              <i [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </span>
          </div>
        </div>
        <div class="text-danger small ms-1 mb-2"
            *ngIf="isInvalid('password_confirmation') || registerForm.errors?.['passwordMismatch']">
          <div *ngIf="registerForm.get('password_confirmation')?.errors?.['required']">
            Confirma la contraseña.
          </div>
          <div *ngIf="registerForm.errors?.['passwordMismatch']">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="role" formControlName="role" aria-label="Tipo de usuario">
        <option value="">Selecciona una opción</option>
        <option value="cliente">Cliente</option>
        <option value="empresa">Empresa</option>
      </select>
      <label for="role">Tipo de Usuario</label>
    </div>

    <!-- Campos para Cliente -->
    <div *ngIf="registerForm.get('role')?.value === 'cliente'">
      <div [ngClass]="isInvalid('cliente_telefono') ? 'form-floating mb-1' : 'form-floating mb-3'">
        <input type="text"
              class="form-control"
              id="cliente_telefono"
              formControlName="cliente_telefono"
              placeholder="Teléfono"
              name="cliente_telefono"
              maxlength="9">
        <label for="cliente_telefono">Teléfono</label>
      </div>

      <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('cliente_telefono')">
        <div *ngIf="registerForm.get('cliente_telefono')?.errors?.['required']">
          El teléfono es obligatorio.
        </div>
        <div *ngIf="registerForm.get('cliente_telefono')?.errors?.['pattern']">
          El teléfono debe tener exactamente 9 dígitos numéricos.
        </div>
      </div>
    </div>

    <!-- Campos para Empresa -->
    <div *ngIf="registerForm.get('role')?.value === 'empresa'">
      <!-- Nombre de la Empresa -->
      <div [ngClass]="isInvalid('empresa_nombre') ? 'form-floating mb-1' : 'form-floating mb-3'">
        <input type="text" class="form-control" id="empresa_nombre" formControlName="empresa_nombre" placeholder="Nombre de la Empresa">
        <label for="empresa_nombre">Nombre de la Empresa</label>
      </div>
      <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('empresa_nombre')">
        El nombre de la empresa es obligatorio.
      </div>

      <!-- Teléfono de la Empresa -->
      <div [ngClass]="isInvalid('empresa_telefono') ? 'form-floating mb-1' : 'form-floating mb-3'">
        <input type="text" class="form-control" id="empresa_telefono" formControlName="empresa_telefono" placeholder="Teléfono">
        <label for="empresa_telefono">Teléfono</label>
      </div>
      <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('empresa_telefono')">
        El teléfono de la empresa es obligatorio.
      </div>

      <!-- Dirección de la Empresa -->
      <div [ngClass]="isInvalid('empresa_direccion') ? 'form-floating mb-1' : 'form-floating mb-3'">
        <input type="text" class="form-control" id="empresa_direccion" formControlName="empresa_direccion" placeholder="Dirección">
        <label for="empresa_direccion">Dirección</label>
      </div>
      <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('empresa_direccion')">
        La dirección de la empresa es obligatoria.
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" id="empresa_descripcion" formControlName="empresa_descripcion" placeholder="Descripción" name="empresa_descripcion" style="height: 100px"></textarea>
        <label for="empresa_descripcion">Descripción</label>
      </div>
      <div [ngClass]="isInvalid('empresa_nif') || registerForm.get('empresa_nif')?.errors?.['server'] ? 'form-floating mb-1' : 'form-floating mb-3'">
        <input type="text" class="form-control" id="empresa_nif" formControlName="empresa_nif" placeholder="NIF" name="empresa_nif">
        <label for="empresa_nif">NIF</label>
      </div>
      <div class="text-danger small ms-1 mb-2" *ngIf="isInvalid('empresa_nif') || registerForm.get('empresa_nif')?.errors?.['server']">
        <div *ngIf="registerForm.get('empresa_nif')?.errors?.['required']">
          El NIF es obligatorio.
        </div>
        <div *ngIf="registerForm.get('empresa_nif')?.errors?.['server']">
          {{ registerForm.get('empresa_nif')?.errors?.['server'] }}
        </div>
      </div>
    </div>

    <div class="text-center mt-4 mb-4">
      <button type="submit" class="btn btn-success w-100 py-2" [disabled]="registerForm.invalid">Registrarse</button>
    </div>
  </form>
</div>